<div class="container">
    <form role="form">
        <h1 class="titolo">Ricarica carta di credito</h1>
        <div class="form-group">
            <label>Destinatario*</label>
            <input type="text"
            placeholder="Inserire nome e cognome del destinatario"
            id="intestatario"
            class="form-control"
            name="intestatario"
            required
            />
        </div>

        <div class="form-group1">
            <div class="col-sm-6">
            <label>Numero carta*</label>
            <input type="text"
            placeholder="Inserire il numero della carta"
            id="ncarta"
            class="form-control"
            name="ncarta"
            required
            />
            </div>

            <div class="col-sm-12">
            <label>Importo*</label>
            <input type="number"
            placeholder="Inserire la quantità di denaro"
            id="importo"
            class="form-control"
            name="importo"
            required
            />
            </div>
        </div>

        <div class="form-group2">
        <label>Data di pagamento*</label>
        <input type="date"
        id="Data"
        class="form-control"
        name="Data"
        required
        />
        </div>
        
        <div class="button">
                <small class="help-block">* Campi obbligatori</small>
            <button class="btn btn-primary" type="submit">Conferma</button>
        </div>
    </form>
</div>