<div class="container">
    <div class="text">
        <h1> Informazioni Personali </h1>
        <p> Informazioni sui tuoi dati personali con la nostra banca.</p>
    </div>
</div>

<div class="container-info">
    <div class="container-title">
        <h2>Informazioni Base</h2>
        <p>informazioni che sono visibili sul tuo conto</p>
    </div>


    <div class="container-list">
        <ul class="container-item">
            <li>Nome : </li>
            <li>Nome Utente</li>
        </ul>
        <hr>
        <ul class="container-item">
            <li>Cognome : </li>
            <li>Cognome Utente</li>
        </ul>
        <hr>
        <ul class="container-item">
            <li>Data di Nascita : </li>
            <li> aaa/aaa/aaa </li>
        </ul>
    </div>
    
</div>


