<footer class="footer">
    <div class="footer-container">
        <div class="social-container">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-pinterest"></i>
        </div>

        <div class="menu">
            <a href="/chi-siamo"> Riguardo la nostra Azienda </a>
            <a href="/contact"> Contattaci </a>
            <a href="#"> Blog </a>
        </div>

        <div class="menu">
            <a href="#"> Carriera </a>
            <a routerLink="/contact"> Supporto </a>
            <a href="#"> Politica sulla Privacy </a>
        </div>

        
    </div>
</footer>

