<div class="container">
    <div class="circle">
        NU
    </div>
    <div class="text">
        <h1> Benvenuto , "nome Utente" </h1>
        <p> Gestisci le tue informazioni, i tuoi conti e il tuo account.</p>
    </div>
</div>


<div class="container-box">
    <div class="box1">
        <div class="title">
            <h1>Gestisci le tue <br> Informazioni</h1>
            <img src="../../../../../assets/images/settings.png" alt="">
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Quae assumenda architecto nulla! Ea in impedit quibusdam non dicta <br>
            error enim blanditiis exercitationem ut provident, <br>
            quidem dolorem totam voluptatem consequuntur.
        </p>
        <hr>
        <a routerLink="../info"> Gestisci le tue Informazioni </a>
    </div>

    <div class="box2">
        <div class="title">
            <h1>Gestisci i tuoi <br> Dati</h1>
            <img src="../../../../../assets/images/dati.png" alt="">
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Quae assumenda architecto nulla! Ea in impedit quibusdam non dicta <br>
            error enim blanditiis exercitationem ut provident, <br>
            quidem dolorem totam voluptatem consequuntur.
        </p>
        <hr>
        <a routerLink="../account"> Gestisci i tuoi Dati </a>
    </div>

</div>

<div class="container-sec">
    <h1>Con noi la tua privacy <br> è a prova di hacker </h1>
    <img src="../../../../../assets/images/security1.png" alt="">
</div>