.circle {
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
    width: 90px;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    border-radius: 60px;
}

.container > .circle {
    margin-left: 31.7pc;
}


.container {
    margin-top: 2pc;
    text-align: center;
}

.container > .text > h1 {
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.container > .text > p {
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    
}

.container-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4pc;
}

.box1 , .box2 , .container-security {
    border: 1px solid rgb(6, 6, 6, 0.3);
    padding: 2rem;
    border-radius: 10px;
}

hr {
    border: 1px solid rgba(172, 172, 172, 0.3);
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1pc;
}

.title > img  {
 width: 9.5rem;
 height: 9.5rem;
 margin-top: 0.8pc;
 margin-right: 1.5pc;
}

a {
    color: rgba(147, 147, 147);
    margin-left: 2pc;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
a:Hover {
    color: rgb(78, 78, 209);
}


.container-sec {
    width: 70%;
    margin-left: 13.5pc;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 3pc;
    border: 1px solid rgb(6, 6, 6, 0.3);
    border-radius: 10px;
}

.container-sec > img {
    width: 28%;
    margin-right: 2pc;
}

.container-sec > h1{
   width: 40%;
   height: 20%;
   margin-top: 6pc;
   margin-bottom: 4pc;
}