<h1> Conto 1</h1>

<div class="container">
    <div class="maincontainer">
        <div class="thecard">
          <div class="thefront"> 
            <h3> Credit Card </h3>
            <i></i>
            <h4> 5333 2906 9868 1011 </h4>
            <h6> valid thru: <span> 12/27</span>
            </h6>
            <h5> Nome e Cognome</h5>
            <p> Iban : </p>
          </div>
          <div class="theback">
            <div class="pin">
              <p>180</p>
            </div>
          </div>
        </div>
    </div>
<div class="info">
    <h2>Informazioni conto</h2>
    <ul class="lista1">
        <li>INTESTATARIO CONTO:</li>
        <li>N. CONTO:</li>
        <li>IBAN:</li>
        <li>CARTA ASSOCIATA N.:</li>
        <li>SALDO DISPONIBILE:</li>
    </ul>
    <ul class="lista2">
      <li> USER USER</li>
      <li> 0001/5345262</li>
      <li> IT234567876544567</li>
      <li>5333290698681011</li>
      <li> 12.980€</li>
    </ul>
</div>
</div>


