<h1> Conto 1</h1>

<div class="container">
    <div class="maincontainer">
        <div class="thecard">
            <div class="thefront">
                <div class="title">
                    <h2> Aubank </h2>
                </div>
                <div class="chip">
                    <img src="../../../../../assets/images/chipImg.png" alt="">
                </div>
                <div class="thirdline">
                    <h4> 1234 1234 5678 5678 </h4>
                </div>
                <div class="fourthline">
                    Valida fino al: 01/29
                </div>
                <div class="lastline">
                    <h5> Nome - Cognome</h5>
                </div>
            </div>
            <div class="theback">
                <div class="pin">
                    <p>180</p>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <h2> Informazioni conto </h2>
        <ul class="lista1">
            <li> INTESTATARIO CONTO: </li>
            <li> N. CONTO:  </li>
            <li> IBAN: </li>
            <li> CARTA ASSOCIATA N. :  </li>
            <li> SALDO DISPONIBILE:  </li>
        </ul>
        <ul class="lista2">
            <li> User-name User-surname </li>
            <li> 00000000000 </li>
            <li> 11111111111 </li>
            <li> 22222222222 </li>
            <li> 20.123€ </li>
        </ul>
    </div>
</div>


